{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiões do Brasil!</title>
    <link rel="icon" href="{% static 'images/favicon-regiao.png' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    <body>
      <nav>
        <div class="wrapper">
          <input type="radio" name="slider" id="menu-btn" />
          <input type="radio" name="slider" id="close-btn" />
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li>
              <a href="{% url 'index' %}">Ínicio</a>
            </li>
            <li>
              <a href="#" class="desktop-item">Dropdown Menu</a>
              <input type="checkbox" id="showDrop" />
              <label for="showDrop" class="mobile-item">Dropdown Menu</label>
              <ul class="drop-menu">
                <li>
                  <a href="{% url 'norte' %}">Norte</a>
                </li>
                <li>
                
                  <a href="{% url 'nordeste' %}">Nordeste</a>
                  
                </li>
              </ul>
            </li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

      <div class="body-text">
        <div class="title">Passe o mouse pelo Drop Down Menu</div>
        <div class="sub-title">para conferir as Regiões!</div>
        <p class="p-index">feito por: Jesse de Lima e Lara Cordeiro</p>
      </div>
    </body>
  </head>
</html>
